.main {
  background-image: url("portal.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  /**/
  width: 100vw;
  height: 100vh;
}

.thisButtonContainer{
  position: relative;
  width: 30vw;
  height: 25vw;
  /**/
  margin-top: 200px;
}

.thisButtonPressedContainer{
  position: relative;
  width: 30vw;
  height: 22vw;
  /**/
  margin-top: calc(200px + 3vw);
}