.main {
  background-image: url("portal.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /**/
  width: 100vw;
  height: 100vh;
}
.messageContainer{
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: baseline;
  justify-content: flex-start; */
  gap: 5vw;
  font-size: 5vw; 
  margin-top: 16vw;
  font-family: Courier, monospace;
}

.messageLines{
  padding: 3vw 1vw 0vw 3vw;
  background-color: rgba(237, 28, 36, 0.78);
  width: fit-content;
  mix-blend-mode: darken;
}
.messageLines2{
  padding: 3vw 1vw 0vw 3vw;
  background-color: rgba(237, 28, 36, 0.78);
  width: fit-content;
  mix-blend-mode: hard-light;
}

.messageLines3{
  background-color: rgba(237, 28, 36, 1);
  width: 100vw;
  mix-blend-mode: normal;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  font-size: 7vw;
  margin-top: 16vw;
  padding: 1vw;
  font-family: 'VT323', monospace;
}

.messageLines3_span{
  background-color: rgb(30, 109, 255);
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 2vw;
  margin-right: 2vw;
}

.thisButtonContainer{
  position: relative;
  width: 40vw;
  height: 30vw;
  /**/
  margin-top: 14vw;
}

.thisButtonPressedContainer{
  position: relative;
  width: 40vw;
  height: 27vw;
  /**/
  margin-top: calc(14vw + 3vw);
}