.main {
    /* background-image: url('../../public/youtube/background.png'); */
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-color: white;

    width: 100vw;
    height: 100vh;
}
.headerContainer {
    background-color: black;
    width: 100vw;
    height: 60vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding-bottom: 15vw;
}
.textHeader{
    font-family: 'Courier', monospace;

    color:white;
    
    font-size: 5vw;

    margin-top: 3vw;
}
.title{
    margin: 0vw 5vw 0vw 5vw; 

    font-family: 'Courier', monospace;

    color:white;

    font-weight: bold;
    font-size: 7vw;

    height: 27vw;

    text-align: center;
    
    display: flex;
    align-items: center;
}   
.titleInput{
    margin: 0vw 5vw 0vw 5vw; 

    font-family: 'Courier', monospace;

    color:black;
    background-color: white;

    font-weight: bold;
    font-size: 7vw;

    height: 27vw;

    text-align: center;
    
    display: flex;
    align-items: center;
}

.slogan{
    margin: 0vw 5vw 0vw 5vw; 

    font-family: 'Courier', monospace;

    color:white;

    font-size: 5vw;

    height: 10vw;

    text-align: center;
    
    display: flex;
    align-items: center;
}
.sloganInput{
    margin: 0vw 5vw 0vw 5vw; 

    font-family: 'Courier', monospace;

    color:black;
    background-color: white;

    font-size: 5vw;

    height: 10vw;

    text-align: center;
    
    display: flex;
    align-items: center;
}
.bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100vw;
    height: 80vw;

    bottom: 15vw;
}
.paintingContainer {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 100vw;
    height: 60vw;

    bottom: 15vw;
}
.frameContainer {
    position: absolute;
    width: 60vw;
    height: 60vw;
}
.qrCodeContainer {
    position: absolute;
    width: 43vw;
    height: 43vw;
}
.textPlayer{
    font-family: 'Courier', monospace;

    position: relative;
    color:black;

    bottom: 10vw;

    width: 60vw;

    padding: 0 3vw 0 3vw;
}
.textPlayer:nth-child(1){
    width: 60vw;
    text-align: left;
}
.textPlayer:nth-child(2){
    width: 60vw;
    text-align: right;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 100vw;
    /* height: fit-content; */
}


.modal {
    --timer-var-height: 50px;
    --painting-width: 60vw;
    /* --modal-width-is-smaller-than-painting-width-by: 26vw; */
    --modal-width-is-smaller-than-painting-width-by: 20vw;
    position: absolute;

    top: calc( var( --timer-var-height ) + var( --painting-width ) - 15vw + calc( var( --modal-width-is-smaller-than-painting-width-by ) / 2 ) );
    /* top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px; */
    width: calc( var( --painting-width ) - var( --modal-width-is-smaller-than-painting-width-by ));
    height: calc( var( --painting-width ) - var( --modal-width-is-smaller-than-painting-width-by ));

    color: black;
    background-color: white;

    padding: 5vw;
}

.modalOverlay {
    z-index: 9999999999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.336);

    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.modalExitButton{
    all: unset;
    cursor: pointer;
    width: 5px;
    height: 5px;
    font-family: monospace;
}