.main {
  background-image: url("./public/sky.jpg");
  background-size: 100%;
  background-repeat: repeat;
  background-color: white;

  /* height: 500vh; */

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: baseline;
}

.faceContainer{
  position: relative;
  height: 111vw;
}

.headingContainer{
  z-index: 99;

  width: 100vw;
  height: 111vw;
  margin-top: 50px;

  position: absolute;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'VT323', monospace;
  font-size: 11vw;

  padding-bottom: 27vw;
}

.titleContainer{
  font-size: 20vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;

  margin-top: 15vw;
  /* margin-bottom: 10vw; */
}

.titleContainer > div {
  width: min-content;
}

.subTitleContainer {
  width: 100vw;
  flex-direction: column;
  
  margin-top: 5vw;
}

.subTitleContainer div {
  text-align: center;
}

.paintingSetContainer{
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  z-index: 999;
}

.paintingContainer{
  background-color: purple;
  position: relative;

  margin-bottom: 250px;

  display: flex;
  flex-direction: column-reverse;

}

.size1{
  width: 58vw;
  height: 60vw;
}

.size2{
  width: 35vw;
  height: 40vw; 
}

.size3{
  width: 25vw;
  height: 35vw;  
}

.size4{
  width: 18vw;
  height: 18vw;  
}