.main {
    background-image: url("google.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    /**/
    width: 100vw;
    height: 100vh;
  }
  