.thisButtonContainer{
    position: relative;
    width: 40vw;
    height: 30vw;
    /**/
    /* margin-top: 14vw; */
    margin-top: 0vw;
    /**/
    z-index: 3;
    position: absolute;
}
  
.thisButtonPressedContainer{
    position: relative;
    width: 40vw;
    height: 27vw;
    /**/
    /* margin-top: calc(14vw + 3vw); */
    margin-top: calc(0vw + 3vw);
    /**/
    z-index: 2;
    position: absolute;
}

.bot {
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding-left: 21vw;
  }